.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f1e6fd30;
  padding: 1rem;
  background: #121113;
  position: relative;
  z-index: 9999;

  picture {
    img {
      margin: 1rem;
    }
  }
}
